/*Global Styles*/

html{
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

div{
  border: solid 1px red;
  display: block;
}

.container{
  max-width: 960px;
  margin: 0px auto;
  display: flex;
}

/*Main Photo and Contents*/

.main_photo{
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
}

/*Blue Banner and Contents*/

.blue_banner{
  background-color: cadetblue;
  display: flex;
  height: 3rem;
  margin-top: 1rem;
}

.white_logo{
  display: flex;
  align-items:center;
}

.white_logo img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.white_text{
  display: flex;
  align-items:center;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.white_text p{
  color: white;
  font-size: 1rem;
}

nav{
  display: flex;
  border: 1px solid yellow;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
  /*flex-grow: 2;*/
  color: white;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li{
  margin-right: 2rem;
}

/*White Banner*/

.white_banner{
  position: relative;
  top: 14rem;
  left: 30rem;
  display: flex;
  align-items: center;
  background-color: white;
  max-width: 35rem;
}

.white_banner p{
  line-height: 1.2;
  font-size: 2rem;
  padding: 1.5rem 5rem;
  color: black;
  font-weight: bold;
}

/*Icons Section*/
.icons{
  background-color: white;
  color: black;
  justify-content: space-between;
  text-align: center;
  max-width: 30rem;
  display: flex;
  margin: 3.5rem auto 0rem auto;
  flex-direction: row;
}

.icon_box{
  display: flex;
  height: 8rem;
  flex-direction: column;
  /*margin-right: 6em;*/
  justify-content: center;
}

.icon_box.paper{
  display: block;
  text-align: center;
}

.icon_box.paper img{
  width: 3.5rem;
}

.icon_box.ruler{
  display: block;
  text-align: center;
  max-height: 5rem;
}

.icon_box.ruler img{
  max-width: 5rem;
}

.icon_box.text{
  display: block;
  text-align: center;
  max-height: 3rem;
}
.icon_box.text p{
  text-align: center;
}

/*Blue Boxes*/

.blue_boxes{
  width: 75%;
  display: flex;
  margin: 2rem auto 0rem auto;
  /*justify-content: space-between;*/
}

.box{
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;

}

.box.blue_stripe{
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
}

.box.blue_stripe p{
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.box.text{
  display:block;
  margin-top: 1rem;
  width: 100%;
}

.box.text p{

}

.azure_strip{
  margin-top: 5rem;
  background-color: azure;
  align-items: center;
}

.azure_strip img{
  margin: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}

.azure_strip p{

}
